version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    volumes:
      - ~/.pg/pg_data/root_new:/var/lib/postgresql/data
    env_file:
      - .env
  django_prod:
    build:
      dockerfile: ./Dockerfile
      context: ./admin_bot_resale/
    image: django_image
    container_name: django_cont
    depends_on:
      - db
    volumes:
      - static_volume:/macaroch/static
      - media_volume:/macaroch/media
    env_file:
      - .env
#    command: >
#      bash -c "./manage.py collectstatic --noinput && ./manage.py migrate  && gunicorn -b 0.0.0.0:8000 admin_bot_resale.wsgi:application"
  nginx:
    build:
      dockerfile: ./Dockerfile
      context: ./admin_bot_resale/docker/nginx/
    container_name: macaroch_nginx
    image: macaroch_nginx
    volumes:
      - static_volume:/macaroch/static
      - media_volume:/macaroch/media
    depends_on:
      - django_prod
    ports:
      - "80:80"
  bot:
    build:
      dockerfile: ./Dockerfile
      context: .
    container_name: bot_cont
    image: bot_img
    env_file:
      - .env
    depends_on:
      - django_prod
    command: >
      python main.py

volumes:
  static_volume:
  media_volume:

